<div class="row">
    <div class="col text-center" *ngIf="!products">
        <hr />
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <hr />
    </div>
    <div class="col" *ngFor="let item of products; let i = index">
        <hr />
        <div class="card" style="width: 18rem;margin: 0 auto">
            <img src="{{ item?.images[0].url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ item?.mark }} <b>{{ item.price | currency }}</b></h5>
                <p class="card-text">{{ item?.description }}</p>
                <button type="button" (click)="addToCart(item)" class="btn btn-primary">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bag-plus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5.5 3.5a2.5 2.5 0 0 1 5 0V4h-5v-.5zm6 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>